.registerForm {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
  background: black;
  padding: 45px;
  border-radius: 20px;
}
.main_register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerForm > input {
  color: white;
  outline: none;
  background: transparent;
  text-align: center;
  margin: 7px;
  padding: 5px;
  border-radius: 12px;
}
.registerForm > button {
  color: white;
  padding: 3px;
  background: transparent;
  width: 194px;
  border-radius: 20px;
  margin-top: 22px;
}
.registerForm > a {
  font-size: 14px;
  margin-top: 10px;
  color: #f3f3f3;
  cursor: pointer;
}
